
arctic
test_arctic
libarctic.so
*.cpython*.so
lib_test
python/arcticpy/wrapper.cpp
__pycache__/
build/
gsl/

*.bck
*.fits
*.lnk
*.log
*.tar
*.tar.gz
*.bck

*test*.*
benchmark_2k2k_image.txt

gmon.out
callgrind.out.*
