
arctic
test_arctic
libarctic.so
*.cpython*.so
lib_test
arcticpy/src/wrapper.cpp
__pycache__/
build/
gsl/

*.bck
*.fits
*.lnk
*.log
*.tar
*.tar.gz
*.bck

*test*.*
gmon.out
callgrind.out.*
hst_acs_10_col.txt
dev/

